.cards {
  > .cards-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    grid-gap: 16px;

    > .cards-element {
      background-color: transparent;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }

  .cards-card-body {
    margin: 16px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
      &:nth-of-type(2) {
        font-size: 16px;
        padding: 0 1rem 0.5rem;
        margin-bottom: auto;
      }

      margin: 0;
    }

    a {
      margin: 0;
      border: 0.0625rem solid transparent;
      font-size: 16px;
      font-weight: 400;
      background-color: #f0ebe2;
      color: #484745;
      border-color: #484745;
      border-radius: 4px;
      min-width: 11.1875rem;
      padding: 0.5rem 0;

      &:hover {
        text-decoration: none;
        background-color: var(--bg-color-red);
        color: #fff;
      }
    }
  }

  .cards-card-image {
    line-height: 0;
  }

  .cards-card-body > *:first-child {
    margin-top: 0;
  }

  > .cards-container > .cards-element img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &.grid-3 > .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px 30px;

    .cards-card-image {
      line-height: 0;
      position: relative;

      p {
        margin: 0;

        &:last-of-type {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }

  &.grid-2 > .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 30px;
  }
}

/* Grid 3 */

/* Grid 2 */

@media (width <= 768px) {
  .cards {
    &.grid-3 > .cards-container, &.grid-2 > .cards-container {
      grid-template-columns: unset;
    }
  }
}
