.promo-banner-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}
.promo-banner {
    img {
      width: 100%;
      height: auto; // Maintain aspect ratio for responsive images
      display: block;
    }
  
    .wrapper {
      position: relative;
  
      div:nth-of-type(1) {
        img {
          width: 100%;
          object-fit: cover; // Ensures the image fits properly
        }
      }
  
      div:nth-of-type(2) {
        position: absolute;
        top: 50%;
        right: 0;
        width: 50%;
        transform: translateY(-50%);
        text-align: left;
  
        > p:nth-of-type(1) {
          font-size: 35px;
          font-weight: 700;
          letter-spacing: normal;
          line-height: 1.25;
          padding-right: 5rem;
          margin: 2rem 0;
        }
  
        > p:nth-of-type(2) {
          font-size: 16px;
          margin: 0;
          font-weight: 400;
        }
      }
    }
  
    @media (max-width: 1300px) {
      .wrapper {
        div:nth-of-type(2) {
          > p:nth-of-type(1) {
            font-size: 28px; // Adjust for smaller screens
            padding-right: 3rem;
          }
        }
      }
    }
  
    @media (max-width: 900px) {
      .wrapper {
        div:nth-of-type(2) {
          position: unset;
          width: 100%;
          transform: unset;
          text-align: center;
  
          > p:nth-of-type(1) {
            font-size: 24px;
            padding: 0 1rem; // Add spacing for mobile screens
          }
  
          > p:nth-of-type(2) {
            margin: 0 auto;
          }
        }
      }
    }
  
    @media (max-width: 600px) {
      .wrapper {
        div:nth-of-type(2) {
          > p:nth-of-type(1) {
            font-size: 20px;
            padding: 0 1rem;
          }
  
          > p:nth-of-type(2) {
            font-size: 14px;
          }
        }
      }
    }
  }
  